.fix-top{
	position: fixed;
	top: 0;
	padding: 3px;
}

.fix-bottom{
	position: fixed;
	bottom: 0;
	padding: 3px;
}

.fix-right{
	position: fixed;
	right: 0;
	padding: 3px;
}

.fix-left{
	position: fixed;
	left: 0;
	padding: 3px;
}