/* кнопки  */

:active {
  transition: 0.5;
}

.btn {
  padding: 5px;
  font-size: 17px;
  outline: none;
  transition: 0.5s;
  border-radius: 10px;
  border: 0;
}

.btn-red {
  background-color: rgb(255,51,51);
}

.btn-red:active {
  background-color: rgb(204,0,0);
}

.btn-blue {
  background-color: rgb(102,51,255);
}

.btn-blue:active {
  background-color: rgb(102,51,204);
}

.btn-pink {
  background-color: rgb(255,51,255);
}

.btn-pink:active {
  background-color: rgb(204,0,204);
}

.btn-green {
  background-color: rgb(51,153,102);
}

.btn-green:active {
  background-color: rgb(0,102,51);
}

.btn-orange {
  background-color: rgb(255,153,0);
}

.btn-orange:active {
  background-color: rgb(255,102,0);
}
/* текстовые поля */

.field::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.field::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.field:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.field:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.field:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.field:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.field:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.field:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.field:focus {
  transition: 1s;
}

.field {
  outline: none;
  padding: 5px;
  font-size: 15px;
}

.field-sm {
  width: 15%;
  min-width: 150px;
}

.field-md {
  width: 25%;
  min-width: 250px;
}

.field-lg {
  width: 45%;
  min-width: 350px;
}

.field-red {
  border: 1px solid rgb(255,51,0);
  transition: 1s;
  border-radius: 5px;
}

.field-red:focus {
  transition: 1s;
  box-shadow: 0 0 10px rgb(255,51,0);
}

.field-blue {
  border: 1px solid rgb(102,51,255);
  transition: 1s;
  border-radius: 5px;
}

.field-blue:focus {
  transition: 1s;
  box-shadow: 0 0 10px rgb(102,51,255);
}

.field-pink {
  border: 1px solid rgb(255,51,255);
  transition: 1s;
  border-radius: 5px;
}

.field-pink:focus {
  transition: 1s;
  box-shadow: 0 0 10px rgb(255,51,255);
}

.field-green {
  border: 1px solid rgb(51,153,102);
  transition: 1s;
  border-radius: 5px;
}

.field-green:focus {
  transition: 1s;
  box-shadow: 0 0 10px rgb(51,153,102);
}

.field-orange {
  border: 1px solid rgb(255,153,0);
  transition: 1s;
  border-radius: 5px;
}

.field-orange:focus {
  transition: 1s;
  box-shadow: 0 0 10px  rgb(255,102,0);
}

.field-circle {
  border: 1px solid rgb(0,0,0);
  border-radius: 100px;
}
/* сетка */

.row {
  display: flex;
  flex: 12;
}

.col {
  flex: auto;
  padding: 5px;
  margin: 5px;
}

.col-2 {
  flex: 3;
  margin: 5px;
  padding: 5px;
}
/* Изображения */

.img {
  display: block;
  height: auto;
  max-width: 100%;
}

.img-circle {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 100%;
}
/* списки */

ol {
  counter-reset: myCounter;
}

.li-circle {
  list-style: none;
}

.li-circle:before {
  counter-increment: myCounter;
  content: counter(myCounter);
  color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 10px;
  line-height: 40px;
  width: 35px;
  height: 35px;
}

ol {
  counter-reset: myCounter2;
}

.li-square {
  list-style: none;
}

.li-square:before {
  counter-increment: myCounter2;
  content: counter(myCounter2);
  color: white;
  background: #2980B9;
  display: inline-block;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 10px;
  line-height: 40px;
  width: 35px;
  height: 35px;
}

.li-red:before {
  background-color: rgb(204,51,51);
}

.li-blue:before {
  background-color: rgb(102,51,204);
}

.li-pink:before {
  background-color: rgb(255,102,255);
}

.li-green:before {
  background-color: rgb(51,204,102);
}

.li-orange:before {
  background-color: rgb(255,153,0);
}

.li-black:before {
  background-color: rgb(0,0,0);
}
body {
  margin: 0;
  padding: 0;
}

code {
  background-color: rgb(255,102,102);
  padding: 2px;
  margin: 2px;
  color: rgb(255,255,255);
  border-radius: 3px;
}
/* стили модального окна */

.modal-back {
  display: none;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  display: none;
  min-width: 20%;
  max-width: 80%;
  background: white;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 10px white;
  position: relative;
  margin: 20px auto;
  font-family: 'Didact Gothic', sans-serif;
}

.modal-header {
  color: #333;
  background: rgb(174, 214, 241);
  border-radius: 5px 5px 0 0;
  word-wrap: break-word;
  margin: 0!important;
}

.modal-header > h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  padding: 30px 25px 5px 25px;
  margin: 0;
}

.modal-content {
  color: #333;
  box-shadow: inset 0 3px 3px silver;
  word-wrap: break-word;
}

.modal-content p {
  margin: 0;
  padding: 25px;
}

.modal-footer {
  text-align: right;
  padding: 10px 25px;
}

.modal-btn {
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1em;
}

.btn-good {
  background: rgb(60,179,113);
  color: white;
}

.btn-alert {
  background: rgb(240,128,128);
  color: white;
}
ul.topnav-default {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav-default li {
  float: left;
}

ul.topnav-default li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav-default li a:hover {
  background-color: #555;
}

ul.topnav-default li.open {
  display: none;
}

@media screen and (max-width: 680px) {
  ul.topnav-default li:not(:first-child) {
    display: none;
  }

  ul.topnav-default li.open {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width: 680px) {
  ul.topnav-default.responsive {
    position: relative;
  }

  ul.topnav-default.responsive li.open {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.topnav-default.responsive li {
    float: none;
    display: inline;
  }

  ul.topnav-default.responsive li a {
    display: block;
    text-align: left;
  }
}

ul.topnav-green {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(51,153,51);
}

ul.topnav-green li {
  float: left;
}

ul.topnav-green li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav-green li a:hover {
  background-color: rgb(0,102,0);
}

ul.topnav-green li.open {
  display: none;
}

@media screen and (max-width: 680px) {
  ul.topnav-green li:not(:first-child) {
    display: none;
  }

  ul.topnav-green li.open {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width: 680px) {
  ul.topnav-green.responsive {
    position: relative;
  }

  ul.topnav-green.responsive li.open {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.topnav-green.responsive li {
    float: none;
    display: inline;
  }

  ul.topnav-green.responsive li a {
    display: block;
    text-align: left;
  }
}

ul.topnav-red {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255,51,0);
}

ul.topnav-red li {
  float: left;
}

ul.topnav-red li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav-red li a:hover {
  background-color: rgb(204,51,0);
}

ul.topnav-red li.open {
  display: none;
}

@media screen and (max-width: 680px) {
  ul.topnav-red li:not(:first-child) {
    display: none;
  }

  ul.topnav-red li.open {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width: 680px) {
  ul.topnav-red.responsive {
    position: relative;
  }

  ul.topnav-red.responsive li.open {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.topnav-red.responsive li {
    float: none;
    display: inline;
  }

  ul.topnav-red.responsive li a {
    display: block;
    text-align: left;
  }
}

ul.topnav-blue {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(102,0,255);
}

ul.topnav-blue li {
  float: left;
}

ul.topnav-blue li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav-blue li a:hover {
  background-color: rgb(51,0,153);
}

ul.topnav-blue li.open {
  display: none;
}

@media screen and (max-width: 680px) {
  ul.topnav-blue li:not(:first-child) {
    display: none;
  }

  ul.topnav-blue li.open {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width: 680px) {
  ul.topnav-blue.responsive {
    position: relative;
  }

  ul.topnav-blue.responsive li.open {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.topnav-blue.responsive li {
    float: none;
    display: inline;
  }

  ul.topnav-blue.responsive li a {
    display: block;
    text-align: left;
  }
}

ul.topnav-pink {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255,51,255);
}

ul.topnav-pink li {
  float: left;
}

ul.topnav-pink li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav-pink li a:hover {
  background-color: rgb(204,51,204);
}

ul.topnav-pink li.open {
  display: none;
}

@media screen and (max-width: 680px) {
  ul.topnav-pink li:not(:first-child) {
    display: none;
  }

  ul.topnav-pink li.open {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width: 680px) {
  ul.topnav-pink.responsive {
    position: relative;
  }

  ul.topnav-pink.responsive li.open {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.topnav-pink.responsive li {
    float: none;
    display: inline;
  }

  ul.topnav-pink.responsive li a {
    display: block;
    text-align: left;
  }
}
.fix-top {
  position: fixed;
  top: 0;
  padding: 3px;
}

.fix-bottom {
  position: fixed;
  bottom: 0;
  padding: 3px;
}

.fix-right {
  position: fixed;
  right: 0;
  padding: 3px;
}

.fix-left {
  position: fixed;
  left: 0;
  padding: 3px;
}

.center {
  text-align: center;
}

.center > * {
  display: inline-block;
}
/* стили для текста */

.txt-red {
  color: rgb(204,51,51);
}

.txt-blue {
  color: rgb(102,51,204);
}

.txt-pink {
  color: rgb(155,51,204);
}

.txt-green {
  color: rgb(51,102,51);
}